{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}


    <div class="container">

        <div class="row">
            <div class="col-6">
                <h6>Form page</h6>
                <hr>
                {{ form(form) }}
            </div>
        </div>

    </div>
{% endblock %}