{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-1 font-weight-bold">Name: </div>
        <div class="col-4">{{ name }}</div>
    </div>

    <div class="row">
        <div class="col-1 font-weight-bold">Message: </div>
        <div class="col-4">{{ message }}</div>
    </div>

{% endblock %}